<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
    <label for="name">name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name">
    <label for="lastname">lastname</label>
    <input type="text" th:field="*{lastname}" id="lastname" placeholder="lastname">
    <input type="submit" value="Create User">
</form>
</body>
</html>